sphinx_rtd_theme
recommonmark
sphinx_autodoc_typehints

torch
pytimekr

chardet
Flask==2.1.2
Flask-Bootstrap
flask-restx
Flask-SocketIO
flatbuffers
googlemaps
influxdb
influxdb-client
itsdangerous
jedi
Jinja2
joblib
jsonschema
Keras
keras-nightly
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
minisom
numexpr
numpy
pandas
pandas_profiling
Pillow
pymongo
python-engineio
python-socketio
requests
scikit-learn
scipy
simplejson
sranodec
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.8.0
tensorflow-estimator
tslearn
tqdm
ujson


git+https://github.com/ClustProject/Clust.git#egg=Clust